@import url("https://fonts.googleapis.com/css2?family=Gelasio&family=Inter:wght@400;500&display=swap");

@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,700&display=swap');

@import "@flaticon/flaticon-uicons/css/all/all";

@import "./editor-theme.css";

@tailwind base;
@tailwind components;
@tailwind utilities;
@layer components {
    * {
        @apply m-0 p-0 box-border text-base font-inter;
    }
    body {
        @apply bg-white text-black
    }
    .background{
        height: calc(var(--vh, 1vh)* 100);
        background: linear-gradient(180deg, rgba(34, 34, 34, 0.6) 0%, rgba(34, 34, 34, 1) 100%);
    }
    .heading {
        @apply font-gelasio text-4xl
    }
    .btn-purple {
        @apply whitespace-nowrap text-white bg-primary rounded-full py-2 px-5 text-lg capitalize hover:bg-opacity-80;
    }
    .navbar {
        @apply z-10 flex items-center w-full px-[5vw] py-5 h-[80px];
    }
    .hide {
        @apply opacity-0 pointer-events-none duration-100;
    }
    .show {
        @apply opacity-100 pointer-events-auto;
    }
    .link {
        @apply hover:text-black text-black hover:bg-primary/20 p-3 px-4 pl-5 py-4 flex gap-6;
    }
    section {
        @apply py-4 px-[5vw] md:px-[7vw] lg:px-[10vw];
    }
    .center {
        @apply flex justify-center items-center
    }
    .auth-input {
        @apply border-2 border-b-input border-t-transparent border-l-transparent border-r-transparent w-80 my-3 p-0.5 pl-7 text-base font-inter focus:outline-none bg-white;
    }
    i {
        @apply text-dark-grey
    }
    .input-icon {
        @apply absolute left-11
    }
    .input-box {
        @apply w-[100%] rounded-md p-4 bg-grey border border-grey focus:bg-transparent placeholder:text-black;
    }
    .edit-profile-icon {
        @apply absolute left-2 top-1/2 -translate-y-1/2;
    }
    .auth-input.active .edit-profile-icon{
        @apply text-primary;
    }
    .google-button{
        @apply m-3 my-5 center space-x-3 font-inter border border-black rounded-md w-80 p-2 hover:bg-grey
    }
    h5{
        @apply absolute left-16 p-2 text-dark-grey transition-transform duration-300 ease-in-out transform
    }
    /* Blogs */
    #textEditor *,
    .blog-page-content * {
        @apply font-gelasio mx-0 text-xl max-w-[900px] leading-10 md:text-2xl;
    }
    #textEditor h2,
    h2 {
        @apply font-inter text-4xl leading-normal font-bold md:text-3xl md:leading-snug !important;
    }
    #textEditor h3,
    h3 {
        @apply font-inter text-3xl leading-loose md:text-2xl md:leading-normal !important;
    }
    #textEditor *,
    .blog-page-content * {
        @apply font-gelasio text-xl leading-10 md:text-2xl;
    }

    #textEditor a,
    .blog-page-content a {
        @apply text-purple underline hover:opacity-50;
    }
    
    /* blog publish */
    .blog-label{
        @apply text-dark-grey mt-9 mb-2
    }
    .tag {
        @apply p-2.5 bg-grey/70 rounded-full px-6 capitalize;
    }
    
    .blog-title {
        @apply text-xl font-medium leading-7 line-clamp-3 sm:line-clamp-2;
    }
    
    .blog-index {
        @apply text-4xl sm:text-3xl lg:text-5xl font-bold text-grey leading-none;
    }

    .sidebar-link {
        @apply flex gap-4 items-center py-5 text-dark-grey text-base pr-10 hover:text-primary hover:font-medium;
    }
    
    .sidebar-link.active {
        @apply text-primary font-medium border-r-2 border-primary pl-6 bg-primary/5 -ml-6 md:rounded-tl-lg md:rounded-bl-lg sm:border-none;
    }
    .sidebar-link:hover .sidebar-icon {
        @apply text-primary;
    }
    .sidebar-link.active .sidebar-icon {
        @apply text-primary /* Change this to the appropriate color value */
    }    
}

/** To remove the blue background color when autofilled by chrome **/

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0px 1000px white inset !important;
    border-top: 1px solid white  !important;
    border-left: 1px solid white !important;
    border-right: 1px solid white !important;
    color: black !important;
}
/* Dark theme */
[data-theme='dark'] input:-webkit-autofill,
[data-theme='dark'] input:-webkit-autofill:hover,
[data-theme='dark'] input:-webkit-autofill:focus,
[data-theme='dark'] input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0px 1000px #242424 inset !important;
    border-top: 1px solid #242424 !important;
    border-left: 1px solid #242424 !important;
    border-right: 1px solid #242424 !important;
    -webkit-text-fill-color: white !important;
}
/* Styles for hiding scrollbar on modal content */

.text-area-input::-webkit-scrollbar,.modal-content::-webkit-scrollbar {
    width: 0 !important;
    display: none; /* Safari and Chrome */
}
.text-area-input .modal-content {
    scrollbar-width: none; /* Firefox */
}
body::-webkit-scrollbar{
    display: none;
}
